**Python Tutorial**
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)]()

Author: [Meng Lu](https://tomatofox.wordpress.com)

Note! It is developed for the course "Statistical methods in spatial data analysis" but can be used in general for python learning. It uses python 3.0 by default.

Some parts of this tutorial was originally written and edited by [Justin Johnson](https://web.eecs.umich.edu/~justincj/), [Volodymyr Kuleshov](http://web.stanford.edu/~kuleshov/), [Isaac Caswell](https://symsys.stanford.edu/viewing/symsysaffiliate/21335), and Kevin Zakka. 

Romesch Yadav from University of Bayreuth has assissted with editting the tutorial.

## Introduction

Python is a general-purpose programming language on its own, but with the help of a few popular libraries (numpy, scipy, matplotlib) it becomes a powerful environment for scientific computing.

If you have no experience with Python, this section will serve as a quick crash course both on the Python programming language and on the use of Python for scientific computing.

Some of you may have previous knowledge in Matlab, in which case the numpy for Matlab users page (https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html) may be useful.

Python programming itself deserves at least one course, the more you learn it, the more you get attracted by the language. Getting started with Python and make use it of is not very difficult but how to effectively use of it requires a deeper understanding of the language. After you grabbed the basics and started to use it for your daily work, I highly recommend a book that will greatly accelerate your understanding of the language and get your programming skill to the next level: 

Fluent Python 
by Luciano Ramalho. 


In this tutorial, the goal is to get you started with Python and understand some very useful features of Python. We will cover some important elements of Python:

* Basic Python: Basic data types (Containers, Lists, Dictionaries, Sets, Tuples), Functions, Classes
* Numpy: Arrays, Array indexing, Datatypes, Array math, Broadcasting
* Matplotlib: Plotting, Subplots, Images
* IPython: Creating notebooks, Typical workflows

## A Brief Note on Python Versions

As of Janurary 1, 2020, Python has [officially dropped support](https://www.python.org/doc/sunset-python-2/) for `python2`.You can check your Python version at the command line by running `python --version`. In Colab, we can enforce the Python version by clicking `Runtime -> Change Runtime Type` and selecting `python3`. Note that as of April 2020, Colab uses Python 3.6.9 which should run everything without any errors.

In [1]:
!python --version

Python 3.8.8

In [2]:
!ls

Assignment_1.ipynb                    Python_tutorial.ipynb
How to run the jupyter notebooks.docx img
Install Anaconda and Jupyter.docx     install_packages.ipynb
Python_tutorial.html

## About Jupyter notebook

https://nbviewer.jupyter.org/github/jupyter/notebook/blob/master/docs/source/examples/Notebook/Notebook%20Basics.ipynb

## Basics of Python

Python is a high-level, dynamically typed multiparadigm programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable. As an example, here is an implementation of the classic quicksort algorithm in Python:

In [3]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return   quicksort(left)  + middle + quicksort(right)

a = [3,6,8,10,1,2,1]
print(quicksort(a))

[1, 1, 2, 3, 6, 8, 10]

Let's also have a brief look at how this works. 

### Explanation:
The Quick sort algorithm:
![Quick sort](img/quicksort.png)

The goal is to rearrange the array such that all elements less than the pivot are to its left, and all elements greater than the pivot are to its right. The choice of the pivot point is arbitrary; it can be the first element of the array, the last element of the array, or even a random element! For our purposes though, letâ€™s choose the pivot point to be the middle element in the array, len(arr)//2

In [4]:
def quicksort(arr):
    if len(arr) <= 1:
        #print(arr)
        return arr # return the array if the input is a single number.
        
    pivot = arr[len(arr) // 2] # len(arr): length of the list arr. "//" means get the integer part of the division
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    print("sorting:",left, middle, right)
    #print("l:",quicksort(left) )
    #print("r:",quicksort(right) )
    #print(middle)
    return   quicksort(left)  + middle + quicksort(right)
print("original:", a)
print(quicksort(a))

original: [3, 6, 8, 10, 1, 2, 1]
sorting: [3, 6, 8, 1, 2, 1] [10] []
sorting: [] [1, 1] [3, 6, 8, 2]
sorting: [3, 6, 2] [8] []
sorting: [3, 2] [6] []
sorting: [] [2] [3]
[1, 1, 2, 3, 6, 8, 10]

Coding notes for beginners:

In [4]:
print(a[0], a[1])  # print what you want to see. Note: Python starts indexing from 0.

3 6

what does a[3] return?  a = [3,6,8,10,1,2,1]

In [5]:
print(len(a), len(a)//2) # length and floor division

7 3

In [6]:
pivot = a[len(a) // 2] # the middle number of the list
pivot

10

In [7]:
[x for x in a if x < 3] # all the numbers less than 3.

[1, 2, 1]

what does [x for x in a if x > 3] return

In [8]:
a + a + a # lists can be concatenated

[3, 6, 8, 10, 1, 2, 1, 3, 6, 8, 10, 1, 2, 1, 3, 6, 8, 10, 1, 2, 1]

### Basic data types

#### Numbers

Integers and floats work as you would expect from other languages:

In [9]:
x = True
print("result", x, type(x))

result True <class 'bool'>

In [10]:
print(x + 1)   # Addition
print(x - 1)   # Subtraction
print(x * 2)   # Multiplication
print(x ** 2)  # Exponentiation
print(x/2)     # division
print(x//2)    # floor divition  
print(12%5)    # Modulus

4
2
6
9
1.5
1
2

In [11]:
# float
y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

In [12]:
print(abs(-5), int(0.6), float(5))

5 0 5.0

In [13]:
divmod(9, 4) # get the integer and modulus parts of division

#the pair (x // y, x % y)

(2, 1)

Assignment operators:

In [14]:
# update variable: e.g. x = x + 1, can be written as
x += 1   # add and: it adds right operand to the left operand and assign the result to left operand
print(x)
x *= 2  # x = x*2
print(x)

# note: this applies also to *, /, //, **, %

4
8

Note that unlike many languages (e.g. C), Python does not have unary increment (x++) or decrement (x--) operators.

Python also has built-in types for long integers and complex numbers; you can find all of the details in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#numeric-types-int-float-long-complex).

#### Booleans

Python implements all of the usual operators for Boolean logic.

In [10]:
t, f = True, False
print(type(t))

<class 'bool'>

Now we let's look at the operations:

In [16]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR; (not equal)

False
True
False
True

#### Strings

In [24]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter
print(hello, len(hello))

hello 5

In [25]:
hw = hello + ' ' + world  # String concatenation
print(hw)

hello world

'LuMeng'

In [28]:
var = 2
hw12 = '{} {} {}'.format(var, world, 12)  # string formatting
print(hw12)

2 world 12

String objects have a bunch of useful methods; for example:

In [29]:
s = "hello"
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7))      # Right-justify a string, padding with spaces
print(s.center(7))     # Center a string, padding with spaces
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another
print('  world ')
print('  world '.strip())  # get rid of the leading and trailing whitespace

Hello
HELLO
  hello
 hello
he(ell)(ell)o
  world
world

Same as a list, "[::-1]" can reverse a string

In [33]:
print(s[::-1])
s1 = range (1, 10)
list(s1[::-1])

olleh

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [36]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

You can find a list of all string methods in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#string-methods).

### Containers /data stuctures

Python includes several built-in container types: lists, dictionaries, sets, and tuples.

#### List

A list is the Python equivalent of an array, but is resizable and can contain elements of different types:

In [57]:
xs = [3, 1, 2 ,4, 5]   # Create a list
print(xs, xs[2])
print(xs[-1])     # Negative indices count from the end of the list; prints "5"

[3, 1, 2, 4, 5] 2
5

In [58]:
xs[2] = 'foo'    # Lists can contain elements of different types
print(xs)

[3, 1, 'foo', 4, 5]

In [59]:
xs.append('bar') # Add a new element to the end of the list
print(xs)

[3, 1, 'foo', 4, 5, 'bar']

In [60]:
x = xs.pop(1)     # Remove by index and return the element that is removed
print(x)
print(xs)

x = xs.pop()     # Remove and return the last element of the list
print(x)
print(xs)

xs.clear()
print(xs)

1
[3, 'foo', 4, 5, 'bar']
bar
[3, 'foo', 4, 5]
[]

In [37]:
xs = [1, 1, 2 ,4, 5]
print(sum(xs))
print(any(xs)) # any() function returns True if any item in an iterable are true
print(all(xs)) # returns true if all the elements of a given iterable( List, Dictionary, Tuple, set, etc) are True

13
True
True

Youu can find more details about lists in the [documentation](https://docs.python.org/3.7/tutorial/datastructures.html#more-on-lists).

In [27]:
#What is going to happen by taking the boolean logics between two lists?
a = [1,2,3,4,5]
b = [3,4,5,6,7]
a and b #The program evaluates a, a is considered true (Lists are considered true when not empty), it evaluates b, b is truthy, so it returns the last evaluated value, b.

a or b #The program evaluates a, a is considered true, so the or statement is true, so it returns the last evaluated value, a.

[1, 2, 3, 4, 5]

List comprehension: Go to section 4.7

In [44]:
[i for i in range(10,20) if i%2 == 0 and i >10]

[12, 14, 16, 18, 11]

**Class exercise 0**: create a list of all the even numbers larger than 10 and smaller than 20,
1) insert a number between the number 12 and 14,
2) remove 12 in the list,
3) add a number to the end,
4) remove the list.

In [32]:
a = [i for i in range(10,20) if i%2 == 0 and i >10]
a.insert(1,  999)
a.pop(0)
a.append(1000)
a.clear()
print(a)
# for now you can just do [12, 14, 16, 18] but we will see there are several ways to generate a sequence
# two useful functions for generating sequence
#import numpy as np
#np.linspace(start = 10, stop = 100, num = 5) # start, stop total number
#np.arange(12, 20, 2) # start, stop, by (space)

[]

#### Slicing

In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing:

In [65]:
nums = list(range(5))    # range is a built-in function that creates a list of integers
print(nums)         # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4])    # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
# why it is not returning "5"?

print(nums[2:])     # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])     # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])      # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(nums[:-3])    # Slice indices can be negative; remove the last three elements
print(nums[::-1])   # recall if we do this we reverse the list
nums[2:4] = [8, 9] # Assign a new sublist to a slice
print(nums)         # Prints "[0, 1, 8, 9, 4]"

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1]
[4, 3, 2, 1, 0]
[0, 1, 8, 9, 4]

### Control flow
Now we have learned the most basic container/ data structure (list) in Python, before we move on to other containers/data structure, namely dictionary, set, and tuple, it is helpful to learn the control flow.

#### if, elif, and, else
if True, evaluates the code in the block that follows. It can be optionally followed by one or more elif and a catch-all else if all the conditions are false:

In [29]:
x = 1
if x<0:
    print("x is less than 0")
elif x== 0:
    print("x is equal to 0")
else:
    print("x>0")

x>0

Ternary expressions
combine an if-else block that produces a value into a single line or expression to condense your code.

In [30]:
x = 5
"5" if x ==5 else "not 5"

#note: the codes may be less readable if the condition and true false expressions are complex.

'5'

#### for loops
for loops are for iterating over a collection (e.g. list or tuple) or an iterater.

You can loop over the elements of a list like this:

In [31]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

In [33]:
# more about range: it creates a sequence. 
x = range(6)
for n in x:
  print(n)

1
2
3
4
5
6

Exercise: given the list a = [1,2,3,6,7,8,8,9], print "even" for even numbers and print "odd" for odd numbers

##### continue and break
You can advance a for loop for the next iteration, skipping the remainder of the block with the "continue" keyword.

In [33]:
se = [1,2, None, 4, 5,10]
total = 0
for value in se:
    if value is None:
        continue
    total += value
    
total

22

A for loop can be exited altogether with the break keyword

In [34]:
se = [1,2, None, 4, 5,10]
total = 0
for value in se:
    if value is None:
        break
    total += value
    
total

3

In [35]:
# note: the break keyword only terminates the innermost for loop, any oter for loops will continue to run.
se = [1,2, None, 4, 5,10]
total = 0
for value in se:
    for value in se:
        if value is None:
            break
        total += value
    
total

18

**Class exercies 1**:
sum all numbers from 0 to 10,000 that are multiples of 3 or 5.
hint: use range (10001); "%", "==". "+=", "or", "if", "for"

If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:

In [36]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))
    # try this: another way of printing: 
    # print(f'#{idx + 1}: {animal}')

#1: cat
#2: dog
#3: monkey

##### While loops
specifies a condition and a block of code that is to be executed until the condition evaluates to False or the loop is explicitly ended with break.

In [37]:
x = 10
total = 0
while x > 0:
    if total > 10:
        break
    total += x
    x = x-1
total

19


### Containers/data structure (cont.)
#### Dictionary

A dictionary stores (key, value) pairs, similar to a `Map` in Java or an object in Javascript. You can use it like this:

In [38]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print(d['cat'])       # Get an entry from a dictionary; prints "cute"
print('cat' in d)     # Check if a dictionary has a given key; prints "True"

cute
True

In [39]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])      # Prints "wet"

wet

In [40]:
print(d)

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}

In [41]:
d.items()

dict_items([('cat', 'cute'), ('dog', 'furry'), ('fish', 'wet')])

In [42]:
print(d['monkey'])  # KeyError: 'monkey' not a key of d

KeyError: 'monkey'

In [ ]:
print(d.get('monkey', 'N/A'))  # Get an element with a default; prints "N/A" if the element is not there
print(d.get('fish', 'N/A'))    # Get an element with a default;

In [ ]:
del d['fish']        # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/2/library/stdtypes.html#dict).

It is easy to iterate over the keys in a dictionary:

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A {} has {} legs'.format(animal, legs))

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [35]:
nums = range(5)
even_key_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_key_to_square)

{0: 0, 2: 4, 4: 16}

In [ ]:
# remember how we do it for a list
[x ** 2 for x in nums if x % 2 == 0]

#### Set

A set is an **unordered** collection of distinct elements. As a simple example, consider the following:

In [37]:
animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

True
False

In [ ]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))       
animals.remove('cat')    # Remove an element from a set
print(len(animals))

_Loops_: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [36]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: fish
#2: cat
#3: dog

Set comprehensions: Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [38]:
from math import sqrt
print({int(sqrt(x)) for x in range(30)})

{0, 1, 2, 3, 4, 5}

#### Tuple

A tuple is an (immutable/unchangable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [40]:
d = {(x, x + 1): x for x in range(10)}  # Create a dictionary with tuple keys
t = (5, 6)       # Create a tuple
print(type(t))
print(d)
print(d[t])       
print(d[(1, 2)])

<class 'tuple'>
{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
5
1

In [44]:
# tuple object does not support item assignment
t[(0,1)] = 1

TypeError: 'tuple' object does not support item assignment

### Functions

Python functions are defined using the `def` keyword. For example:

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

We will often define functions to take optional keyword arguments, like this:

In [ ]:
def hello(name, loud=False):
    '''return add hello in front of the text, if loud = True, return HELLO''' # AN IMPORTANT HABIT! Add a document for explanation
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

hello('Bob')
hello('Fred', loud=True)
hello.__doc__

**Class exercise 2**: write a function to calculate the factorial of a given list of non-negative integers.

Factorial: the product of all positive integers less than or equal to a given positive integer and denoted by that integer and an exclamation point. Thus, factorial seven is written 7!, meaning 1 Ã— 2 Ã— 3 Ã— 4 Ã— 5 Ã— 6 Ã— 7. Factorial zero is defined as equal to 1.

### List comprehensions:

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
# this doesn't work: nums**2
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

You can make this code simpler using a **list comprehension**:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

List comprehensions can also contain conditions:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

#### map() and filter()

You can also use the **map** and **filter** functions to reach the same goals above, they are still built-ins in Python 3, but become less important since the introduction of list comprehension.

Note: **map** and **filter** return a python object, which is an iterator. So you need to use list() to create a list object obtaining all the values.

In [ ]:
def fun(x):
    return x**2

list(map(fun, nums))

This first argument to map() is a transformation function. In other words, itâ€™s the function that transforms each original item into a new (transformed) item. Even though the Python documentation calls this argument function, it can be any Python callable. This includes built-in functions, classes, methods, lambda functions, and user-defined functions.

The operation that map() performs is commonly known as a mapping because it maps every item in an input iterable to a new item in a resulting iterable. To do that, map() applies a transformation function to all the items in the input iterable.

Since map() is written in C and is highly optimized, its internal implied loop can be more efficient than a regular Python for loop. 

A second advantage of using map() is related to memory consumption. With a for loop, you need to store the whole list in your systemâ€™s memory. With map(), you get items on demand, and only one item is in your systemâ€™s memory at a given time.

[source and further read](https://realpython.com/python-map-function/)

In [ ]:
# the lambda keyword creates an anonymous function within a python expression
list(map(lambda x: x**2 , nums))

In [ ]:
# the filter function filters out the values that are false evaluated by the function (and keeps the values that are true evaluated by the function)

list(filter(lambda n: n%2==0, nums)) # get even numbers

In [ ]:
list(filter(lambda n: n%2, nums)) # get odd numbers
# exercise: explain why you get odd numbers

**Class exercise 3**:
create a list of all the even numbers larger than 10 and smaller than 20,

1. multiply all the even numbers by a factor of 1.5. 
2. remove numbers that are less than 20

try: firstly using list comprehenssion, and then use map and filter

### Class (advanced)

The syntax for defining classes in Python is straightforward but it takes exercises to master it.

In [ ]:
class Greeter:

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable

    # Instance method
    def greet(self, loud=False):
        if loud:
          print('HELLO, {}'.format(self.name.upper()))
        else:
          print('Hello, {}!'.format(self.name))
        

g = Greeter('Fred')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"

**Class exercise 4** Add some methods to the class above, or write a class with methods.

## Numpy

Numpy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. If you are already familiar with MATLAB, you might find this [tutorial](http://wiki.scipy.org/NumPy_for_Matlab_Users) useful to get started with Numpy.

To use Numpy, we first need to import the `numpy` package:

In [ ]:
import numpy as np

Why do we say it provides high-performance objects and tools.

In [ ]:
 
npa = np.arange (1e4) #100000.0
a = list(range(int(1e4)))

In [ ]:
%time npa*2
#wall time is the actual time taken from the start of a computer program to the end
%time a * 2
# Numpy-based algorithms are generally 10-100times faster than their pure python counterparts and use significantly less memory.  

%time npa*=2
#wall time is the actual time taken from the start of a computer program to the end
%time a *= 2
# Numpy-based algorithms are generally 10-100times faster than their pure python counterparts and use significantly less memory.

### Arrays

A numpy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. The number of dimensions is the rank of the array; the shape of an array is a tuple of integers giving the size of the array along each dimension.

We can initialize numpy arrays from nested Python lists, and access elements using square brackets:

In [ ]:
a = np.array([1, 2, 3])  # Create a rank 1 array
type(a)
a.shape
print(type(a), a.shape, a[0], a[1], a[2])
a[0] = 5                 # Change an element of the array
print(a)

In [ ]:
b = np.array([[1,2,3],[4,5,6]])   # Create a rank 2 array
print(b)
b.shape

In [ ]:
print(b[0, 0], b[0, 1], b[1, 0])

Numpy also provides many functions to create arrays:

In [ ]:

a = np.zeros((2,2))  # Create an array of all zeros
print(a)

In [ ]:
type((2,2))

In [ ]:
b = np.ones((1,2))   # Create an array of all ones
print(b)

In [ ]:
c = np.full((2,2), 7) # Create a constant array
print(c)

In [ ]:
d = np.eye(2)        # Create a 2x2 identity matrix
print(d)

In [ ]:
e = np.random.random((2,2)) # Create an array filled with random values
print(e)

#### Array indexing

Numpy offers several ways to index into arrays.

Slicing: Similar to Python lists, numpy arrays can be sliced. Since arrays may be multidimensional, you must specify a slice for each dimension of the array:

In [ ]:
import numpy as np

# Create the following rank 2 array with shape (3, 4)
# [[ 1  2  3  4]
#  [ 5  6  7  8]
#  [ 9 10 11 12]]
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

# Use slicing to pull out the subarray consisting of the first 2 rows
# and columns 1 and 2; b is the following array of shape (2, 2):
# [[2 3]
#  [6 7]]
b = a[:2, 1:3]
print(b)

A slice of an array is a view into the same data, so modifying it will modify the original array.

In [ ]:
print(a[0, 1])
b[0, 0] = 77    # b[0, 0] is the same piece of data as a[0, 1]
print(a[0, 1])

You can also mix integer indexing with slice indexing. However, doing so will yield an array of lower rank than the original array. Note that this is quite different from the way that MATLAB handles array slicing:

In [ ]:
# Create the following rank 2 array with shape (3, 4)
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
print(a)

Two ways of accessing the data in the middle row of the array.
Mixing integer indexing with slices yields an array of lower rank,
while using only slices yields an array of the same rank as the
original array:

In [ ]:
row_r1 = a[1, :]    # Rank 1 view of the second row of a  
row_r2 = a[1:2, :]  # Rank 2 view of the second row of a
row_r3 = a[[1], :]  # Rank 2 view of the second row of a
print(row_r1, row_r1.shape)
print(row_r2, row_r2.shape)
print(row_r3, row_r3.shape)

In [ ]:
# We can make the same distinction when accessing columns of an array:
col_r1 = a[:, 1]
col_r2 = a[:, 1:2]
print(col_r1, col_r1.shape)
print()
print(col_r2, col_r2.shape)

Integer array indexing: When you index into numpy arrays using slicing, the resulting array view will always be a subarray of the original array. In contrast, integer array indexing allows you to construct arbitrary arrays using the data from another array. Here is an example:

In [ ]:
a = np.array([[1,2], [3, 4], [5, 6]])

# An example of integer array indexing.
# The returned array will have shape (3,) and 
print(a[[0, 1, 2], [0, 1, 0]])

# The above example of integer array indexing is equivalent to this:
print(np.array([a[0, 0], a[1, 1], a[2, 0]]))

In [ ]:
# When using integer array indexing, you can reuse the same
# element from the source array:
print(a[[0, 0], [1, 1]])

# Equivalent to the previous integer array indexing example
print(np.array([a[0, 1], a[0, 1]]))

One useful trick with integer array indexing is selecting or mutating one element from each row of a matrix:

In [ ]:
# Create a new array from which we will select elements
a = np.array([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]])
print(a)

In [ ]:
# Create an array of indices
b = np.array([0, 2, 0, 1])

# Select one element from each row of a using the indices in b
print(a[np.arange(4), b])  # Prints "[ 1  6  7 11]"

In [ ]:
# Mutate one element from each row of a using the indices in b
a[np.arange(4), b] += 10
print(a)

Boolean array indexing: Boolean array indexing lets you pick out arbitrary elements of an array. Frequently this type of indexing is used to select the elements of an array that satisfy some condition. Here is an example:

In [ ]:
import numpy as np

a = np.array([[1,2], [3, 4], [5, 6]])

bool_idx = (a > 2)  # Find the elements of a that are bigger than 2;
                    # this returns a numpy array of Booleans of the same
                    # shape as a, where each slot of bool_idx tells
                    # whether that element of a is > 2.

print(bool_idx)

In [ ]:
# We use boolean array indexing to construct a rank 1 array
# consisting of the elements of a corresponding to the True values
# of bool_idx
print(a[bool_idx])

# We can do all of the above in a single concise statement:
print(a[a > 2])

For brevity we have left out a lot of details about numpy array indexing; if you want to know more you should read the documentation.

#### Numpy Data types

Every numpy array is a grid of elements of the same type. Numpy provides a large set of numeric datatypes that you can use to construct arrays. Numpy tries to guess a datatype when you create an array, but functions that construct arrays usually also include an optional argument to explicitly specify the datatype. Here is an example:

In [ ]:
x = np.array([1, 2])  # Let numpy choose the datatype
y = np.array([1.0, 2.0])  # Let numpy choose the datatype
z = np.array([1, 2], dtype=np.float64)  # Force a particular datatype

print(x.dtype, y.dtype, z.dtype)

In [ ]:
#recall an object that is not numpy

a = 10
print(type(a))
a = np.array([1])
a[0].dtype

You can read all about numpy datatypes in the [documentation](http://docs.scipy.org/doc/numpy/reference/arrays.dtypes.html).

#### Array math

Basic mathematical functions operate elementwise on arrays, and are available both as operator overloads and as functions in the numpy module:

In [ ]:
x = np.array([[1,2],[3,4]], dtype=np.float64)
y = np.array([[5,6],[7,8]], dtype=np.float64)

# Elementwise sum; both produce the array
print(x + y)
print(np.add(x, y))

In [ ]:
# Elementwise difference; both produce the array
print(x - y)
print(np.subtract(x, y))

In [ ]:
# Elementwise product; both produce the array
print(x * y)
print(np.multiply(x, y))

In [ ]:
# Elementwise division; both produce the array
# [[ 0.2         0.33333333]
#  [ 0.42857143  0.5       ]]
print(x / y)
print(np.divide(x, y))

In [ ]:
# Elementwise square root; produces the array
# [[ 1.          1.41421356]
#  [ 1.73205081  2.        ]]
print(np.sqrt(x))

Note that unlike MATLAB, `*` is elementwise multiplication, not matrix multiplication. We instead use the dot function to compute inner products of vectors, to multiply a vector by a matrix, and to multiply matrices. dot is available both as a function in the numpy module and as an instance method of array objects:

In [ ]:
x = np.array([[1,2],[3,4]])
y = np.array([[5,6],[7,8]])

v = np.array([9,10])
w = np.array([11, 12])

# Inner product of vectors; both produce 219
print(v.dot(w))
print(np.dot(v, w))

You can also use the `@` operator which is equivalent to numpy's `dot` operator.

In [ ]:
print(v @ w)

In [ ]:
# Matrix / vector product; both produce the rank 1 array [29 67]
print(x.dot(v))
print(np.dot(x, v))
print(x @ v)

In [ ]:
# Matrix / matrix product; both produce the rank 2 array
# [[19 22]
#  [43 50]]
print(x.dot(y))
print(np.dot(x, y))
print(x @ y)

Numpy provides many useful functions for performing computations on arrays; one of the most useful is `sum`:

In [ ]:
x = np.array([[1,2],[3,4]])

print(np.sum(x))  # Compute sum of all elements; prints "10"
print(np.sum(x, axis=0))  # Compute sum of each column; prints "[4 6]"
print(np.sum(x, axis=1))  # Compute sum of each row; prints "[3 7]"

You can find the full list of mathematical functions provided by numpy in the [documentation](http://docs.scipy.org/doc/numpy/reference/routines.math.html).

Apart from computing mathematical functions using arrays, we frequently need to reshape or otherwise manipulate data in arrays. The simplest example of this type of operation is transposing a matrix; to transpose a matrix, simply use the T attribute of an array object:

In [ ]:
print(x)
print("transpose\n", x.T)

In [ ]:
v = np.array([[1,2,3]])
print(v )
print("transpose\n", v.T)

#### Broadcasting

Broadcasting is a powerful mechanism that allows numpy to work with arrays of different shapes when performing arithmetic operations. Frequently we have a smaller array and a larger array, and we want to use the smaller array multiple times to perform some operation on the larger array.

For example, suppose that we want to add a constant vector to each row of a matrix. We could do it like this:

In [ ]:
# We will add the vector v to each row of the matrix x,
# storing the result in the matrix y
x = np.array([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]])
v = np.array([1, 0, 1])
y = np.empty_like(x)   # Create an empty matrix with the same shape as x

# Add the vector v to each row of the matrix x with an explicit loop
for i in range(4):
    y[i, :] = x[i, :] + v

print(y)

This works; however when the matrix `x` is very large, computing an explicit loop in Python could be slow. Note that adding the vector v to each row of the matrix `x` is equivalent to forming a matrix `vv` by stacking multiple copies of `v` vertically, then performing elementwise summation of `x` and `vv`. We could implement this approach like this:

In [ ]:
vv = np.tile(v, (4, 1))  # Stack 4 copies of v on top of each other
print(vv)                # Prints "[[1 0 1]
                         #          [1 0 1]
                         #          [1 0 1]
                         #          [1 0 1]]"

In [ ]:
y = x + vv  # Add x and vv elementwise
print(y)

Numpy broadcasting allows us to perform this computation without actually creating multiple copies of v. Consider this version, using broadcasting:

In [ ]:
import numpy as np

# We will add the vector v to each row of the matrix x,
# storing the result in the matrix y
x = np.array([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]])
v = np.array([1, 0, 1])
y = x + v  # Add v to each row of x using broadcasting
print(y)

The line `y = x + v` works even though `x` has shape `(4, 3)` and `v` has shape `(3,)` due to broadcasting; this line works as if v actually had shape `(4, 3)`, where each row was a copy of `v`, and the sum was performed elementwise.

Broadcasting two arrays together follows these rules:

1. If the arrays do not have the same rank, prepend the shape of the lower rank array with 1s until both shapes have the same length.
2. The two arrays are said to be compatible in a dimension if they have the same size in the dimension, or if one of the arrays has size 1 in that dimension.
3. The arrays can be broadcast together if they are compatible in all dimensions.
4. After broadcasting, each array behaves as if it had shape equal to the elementwise maximum of shapes of the two input arrays.
5. In any dimension where one array had size 1 and the other array had size greater than 1, the first array behaves as if it were copied along that dimension

If this explanation does not make sense, try reading the explanation from the [documentation](http://docs.scipy.org/doc/numpy/user/basics.broadcasting.html) or this [explanation](http://wiki.scipy.org/EricsBroadcastingDoc).

Functions that support broadcasting are known as universal functions. You can find the list of all universal functions in the [documentation](http://docs.scipy.org/doc/numpy/reference/ufuncs.html#available-ufuncs).

Here are some applications of broadcasting:

In [ ]:
# Compute outer product of vectors
v = np.array([1,2,3])  # v has shape (3,)
w = np.array([4,5])    # w has shape (2,)
# To compute an outer product, we first reshape v to be a column
# vector of shape (3, 1); we can then broadcast it against w to yield
# an output of shape (3, 2), which is the outer product of v and w:

print(np.reshape(v, (3, 1)) * w)

In [ ]:
# Add a vector to each row of a matrix
x = np.array([[1,2,3], [4,5,6]])
# x has shape (2, 3) and v has shape (3,) so they broadcast to (2, 3),
# giving the following matrix:

print(x + v)

In [ ]:
# Add a vector to each column of a matrix
# x has shape (2, 3) and w has shape (2,).
# If we transpose x then it has shape (3, 2) and can be broadcast
# against w to yield a result of shape (3, 2); transposing this result
# yields the final result of shape (2, 3) which is the matrix x with
# the vector w added to each column. Gives the following matrix:

print((x.T + w).T)

In [ ]:
# Another solution is to reshape w to be a row vector of shape (2, 1);
# we can then broadcast it directly against x to produce the same
# output.
print(x + np.reshape(w, (2, 1)))

In [ ]:
# Multiply a matrix by a constant:
# x has shape (2, 3). Numpy treats scalars as arrays of shape ();
# these can be broadcast together to shape (2, 3), producing the
# following array:
print(x * 2)

Broadcasting typically makes your code more concise and faster, so you should strive to use it where possible.

This brief overview has touched on many of the important things that you need to know about numpy, but is far from complete. Check out the [numpy reference](http://docs.scipy.org/doc/numpy/reference/) to find out much more about numpy.

## Note
Another very important data type is dataframe, which you can think of as excel tables. The python package "pandas" is the major package for reading, writing, and processing dataframe. The dataframe will be introduced in the lab "descriptive statistics".

## Matplotlib

Matplotlib is a plotting library. In this section give a brief introduction to the `matplotlib.pyplot` module, which provides a plotting system similar to that of MATLAB.

In [ ]:
import matplotlib.pyplot as plt

By running this special iPython command, we will be displaying plots inline:

In [ ]:
%matplotlib inline

### Plotting

The most important function in `matplotlib` is plot, which allows you to plot 2D data. Here is a simple example:

In [ ]:
# Compute the x and y coordinates for points on a sine curve
x = np.arange(0, 3 * np.pi, 0.1)
y = np.sin(x)
print(x)
# Plot the points using matplotlib
plt.plot(x, y)

With just a little bit of extra work we can easily plot multiple lines at once, and add a title, legend, and axis labels:

In [ ]:
y_sin = np.sin(x)
y_cos = np.cos(x)

# Plot the points using matplotlib
plt.plot(x, y_sin)
plt.plot(x, y_cos)
plt.xlabel('x axis label')
plt.ylabel('y axis label')
plt.title('Sine and Cosine')
plt.legend(['Sine', 'Cosine'])

#### meshgrid
the np.meshgrid() takes two 1d array and proces two 2d matrices corresponding to all parts of (x,y) in the two arrays.

In [ ]:
xs, ys  = np.meshgrid(np.arange(-10,10,2),np.arange(-10,10,2))
print(xs)
print(ys)

In [ ]:

plt.imshow(np.sqrt(ys**2+xs**2))
plt.colorbar()

### Subplots

You can plot different things in the same figure using the subplot function. Here is an example:

In [ ]:
# Compute the x and y coordinates for points on sine and cosine curves
x = np.arange(0, 3 * np.pi, 0.1)
y_sin = np.sin(x)
y_cos = np.cos(x)

# Set up a subplot grid that has height 2 and width 1,
# and set the first such subplot as active.
plt.subplot(2, 1, 1)

# Make the first plot
plt.plot(x, y_sin)
plt.title('Sine')

# Set the second subplot as active, and make the second plot.
plt.subplot(2, 1, 2)
plt.plot(x, y_cos)
plt.title('Cosine')

# Show the figure.
plt.show()

You can read much more about the `subplot` function in the [documentation](http://matplotlib.org/api/pyplot_api.html#matplotlib.pyplot.subplot).

In [ ]:
'''
from google.colab import drive
drive.mount('/content/drive') 
!cp drive/My\ Drive/Colab\ Notebooks/Copy\ of\ colab-tutorial.ipynb ./
!apt-get install texlive texlive-xetex texlive-latex-extra pandoc
!pip install pypandoc
!jupyter nbconvert --to PDF "Copy of colab-tutorial.ipynb"
'''

In [ ]:
!jupyter nbconvert --to PDF "Python_tutorial.ipynb"